div{
    background-color : pink ; 
    font-family: Arial, sans-serif;
    
}
p{
    color : blue ;
}
*{
    font-weight: bold ; 
    font-size: 40px; 
    display: flexbox;
    flex-direction: column;
    margin: 20px ;

}
#\32 {
    color: rgb(28, 28, 46);
    background-color: aquamarine;    
}
